WITH balance AS(
SELECT *,
CASE 
WHEN transaction_type = 'Withdrawal' THEN -amount
ELSE amount
END AS accounts_balance
FROM transactions
)


SELECT account_id, SUM (accounts_balance)
FROM balance
GROUP BY account_id
;