WITH count AS (
SELECT  employee_id, COUNT(query_id)FROM queries
GROUP BY employee_id
)

;

SLECT FORM count 

/*
SELECT * FROM employees
JOIN queries
ON queries.employee_id = employees.employee_id 
WHERE queries.query_starttime >= '2023-07-01' AND queries.query_starttime <= '2023-09-30'
;
*/
