WITH cases AS ( 
SELECT policy_holder_id, COUNT(case_id) AS number_of_cases FROM callers
GROUP BY policy_holder_id
ORDER BY policy_holder_id
)

SELECT COUNT(policy_holder_id) FROM cases
WHERE number_of_cases >= 3 ;

