SELECT emails.user_id FROM email
LEFT JOIN texts
ON emails.email_id = texts.email_id
WHERE signup_action = 'Confirmed' AND EXTRACT( DAY FROM texts.action_date) - EXTRACT( DAY FROM emails.signup_date)  = 1
;
